:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --one-hundred-percent: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* BASIC RESET START */
body,
html {
  width: var(--one-hundred-percent);
  height: var(--one-hundred-percent);
}
body {
  display: flex;
  flex-flow: column wrap;
  place-content: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#mainContainer {
  background-color: #747bff;
  width: 150px;
  height: 150px;
  border-radius: 20px;
}
/* BASIC RESET END */
