:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --one-hundred-percent: 100%;
  --zero-percent: 0%;
  --twenty-five-percent: 25%;
  --fifty-percent: 50%;
  --seventy-five-percent: 75%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* CUSTOM RESET STYLE TO MAIN CONTAINER START */
body,
html {
  width: var(--one-hundred-percent);
  height: var(--one-hundred-percent);
}

/* CUSTOM RESET STYLE TO MAIN CONTAINER END */

body {
  display: flex;
  flex-flow: column wrap;
  place-content: center;
}
#mainContainer {
  background-color: #333333;
  width: var(--seventy-five-percent);
  height: var(--fifty-percent);
  border-radius: 20px;
  display: grid;
  text-align: center;
  grid-template-rows: 1fr 2fr 60px;
}
